@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SUIT-Medium';
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 100px;

    width: 1000px;
    height: 700px;

    border: 5px solid #006BA3;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


h1 {
    margin-bottom: 30px;

    font-family: 'MICEGothic Bold';
    font-size: 36px;
    font-weight: bold;

    margin-top: 15px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

.form_input {
    height: 42px;
    width: 350px;
    padding-left: 3px;
}

.img_input {
    height: 32px;
    width: 200px;
    padding-left: 3px;
}

span {
    font-size: 28px;
    margin-right: 10px;
}

.foot_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 500px;
}

.signup_btn {
    width: 250px;
    height: 75px;
}

.cancel_btn {
    width: 180px;
    height: 75px;
}

button {
    font-family: 'SUIT-Medium';
    font-size: 26px;

    border: 3px solid #006BA3;

    background-color: white;

    cursor:pointer;
}

button:hover {
    border: 5px solid #006BA3;
    box-shadow: 2px 2px;
}
