<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/009dabc713.js" crossorigin="anonymous"></script>
    <title>게임 추천 페이지</title>
    <link rel="stylesheet" href="../static/list_style.css" />
    <script>
      $(document).ready(function () {
        listing();
        });

function listing() {
  $.ajax({
    type: "GET",
    url: "/list",
    data: {},
    success: function (response) {
      let rows = response["youtube_list"];
      for (let i = 0; i < rows.length; i++) {
        let comment = rows[i]["comment"];
        let title = rows[i]["title"];
        let desc = rows[i]["desc"];
        let image = rows[i]["image"];

        let temp_html = `<div class="col">
                            <a href="#" class="card-wrap">
                                          <div class="card h-100">
                                              <img src="${image}"
                                                   class="card-img-top">
                                              <div class="card-body">
                                                  <h5 class="card-title">${title}</h5>
                                                  <p class="mycomment">${comment}</p>
                                    </a>
                                     </div>
                            `;

        $("#cards-box").append(temp_html);
      }
    },
  });
}

function Checkform() {

    if( frm.name.value == "" ) {

        frm.name.focus();
        alert("성명을 입력해 주십시오.");

        return false;

    }

}


function upload(){
    let url_input = $("url").val()
    console.log(url_input)
}

function posting() {
  let url = $("#url").val();
  let comment = $("#comment").val();

   if($.trim($("#url").val())==''){
      alert("사이트를 입력해주세요!.");
      return false;
    }

   if($.trim($("#comment").val())==''){
      alert("추천하는 이유도 알려줘잉.");
      return false;}

  $.ajax({
    type: "POST",
    url: "/list",
    data: {url_give: url, comment_give: comment },
    success: function (response) {
      alert(response["msg"]);
      window.location.reload();
    },
  });
}

 $(document).ready(function() {
        $('#comment').on('keyup', function() {
            $('#comment_cnt').html("("+$(this).val().length+" / 30)");

            if($(this).val().length > 30) {
                $(this).val($(this).val().substring(0, 30));
                $('#commet_cnt').html("(30 / 30)");
            }
        });
    });

 function open_box() {
            $('#post-box').show()
        }

function close_box() {
  $("#post-box").hide();
}

    </script>
  </head>

  <body>
    <div id="mainmenu">
      <ul class="navi">
        <li class="logo_top">
          <a onclick="window.location.href = '/'"><img class="main_logo" src="../static/200x100%20작은%20로고.png"><img></a>
        </li>
        <li class="sign_up">
          <a href="#">로그인</a>
        </li>
      </ul>
    </div>

    <div class="mytitle">
      <p>이 채널 볼만해!</p>
      <button onclick="open_box()">채널 공유하기</button>
    </div>

    <!-- 추가하는 박스 -->
    <form>
        <div class="mypost" id="post-box">
          <div class="form-floating mb-3">
            <input
              id="url"
              type="email"
              class="form-control"
              placeholder="name@example.com"
            />
            <label>채널 URL</label>
          </div>

          <div class="form-floating">
            <textarea
              id="comment"
              class="form-control"
              placeholder="Leave a comment here"
            ></textarea>
            <label for="floatingTextarea2">이 채널 꼭 봐봐!</label>
          </div>
            <div id="comment_cnt" >(0 / 30)</div>

          <div
            id="topbox-btn"
            class="d-grid gap-2 d-md-flex justify-content-md-center"
            style="clear: both"
          >
            <button
              class="btn btn-primary me-md-2 btn-submit"
              onclick="posting()"
              type="button"
            >
              기록하기
            </button>
            <button class="btn btn-primary" style="background: red; border:none;"
                    onclick="close_box()"
                    type="button">
              닫기
            </button>
          </div>
        </div>
    </form>

    <!-- 게임 목록 -->
    <div class="mycards">
      <div class="row row-cols-1 row-cols-md-5 g-4" id="cards-box">
      </div>
    </div>

  </body>
</html>
